<form action="/image" method="post" enctype="multipart/form-data">
	<p>
	<label>File Name</label>
	<input type="text" name="title" />
	<input type="file" name="image" />
	</p>
	<input type="submit" value="Submit" />
</form>

