<% if flash[:error] %>
	<p><%= flash[:error] %>
<% end %>
<% if session[:user] == nil %>
<h1>Welcome</h1>
<a href="/logout">Logout</a>
<form action="/login" method="post">
<label>Username</label>
<input type="text" name="user[name]" /><br />
<label> Password</label>
<input type="password" name="user[passwd]" /><br />
<input type="submit" value="Login" />
<input type="reset" value="clear" />
</form>
<p>
	<a href="/signup">Signup </a>
</p>
<% else %>
	<p><%= session[:user] %>, You logged in, now come in home page</p>
	<p>or</p>
	<p><a href="/logout">Logout</p>
<% end %>
