<h1>Welcome #{username}"</h1>
<a href="/logout">Logout</a>
<form action="/login" method="post">
<div>
<label>Username</label>
<input type="text" name="username" />
</div>
<div>
<label> Password</label>
<input type="password" name="username" />
</div>
<input type="submit" value="Login" />
<input type="reset" value="clear" />
</form>
<p>
	<a href="/signup">Signup </a>
</p>
