<% if flash[:error] %>
	<p><%= flash[:error] %>
<% end %>
<p>Enter the username and password!</p>
<form action="/signup" method="post">
	<label>Username</label>
	<input type="text" name="user[name]" value="<%= @user.name %>" /><br />
	<label>Password:</label>
	<input type="password" name="user[passwd]" value="<%= @user.passwd %>" /><br />
	<label>Password:</label>
	<input type="password" name="user[passwd_confirmation]" value="<%= @user.passwd_confirmation %>" /><br />
<input type="submit" value="Submit">
</form>
