<form action="/upload" method="post" enctype="multipart/form-data" >
	<label>Name</label> 
	<!--input type="type" name="image[name]" / -->
 	<input type="file" name="image" /><br />
	<input type="submit" value="Upload" />
</form>
